.song-player {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #333; 
	color: white; 
	text-align: center;
	padding: 10px 0;
	z-index: 1000;
	
  }

  .play-pause-button {
	height: 20px;
	width: 20px;
  }

  .song-player-controls {

	display: flex;
	flex-direction: row;
	justify-content: center;

  }
  .next-prev-button {
	height: 20px;
	width: 20px;
	margin-left: 5px;
	margin-right: 5px;	
  }